{% extends 'base.html' %}
{% block content %}

<h1>Home</h1>
<hr>
<h5>✨Welcome to the Sonny Angel Collector! Where you can keep track
    of all your sonny angels in one place and watch your collection grow. Add any outfits you have created for your angels
    and even keep a log of your sonny angels condition inspections, happy collecting!✨
</h5>
<h6><strong>Discover, Organize, and Showcase Your Collection</strong></h6>
<p>Gone are the days of managing your Sonny Angel collection with spreadsheets and photos scattered across various devices. Our app is designed to help you effortlessly keep track of your treasured figurines. You can catalog each Sonny Angel individually, including their series, rarity, and acquisition details. </p>
<h6><strong>Quality Inspections Made Simple</strong></h6>
<p>Quality is paramount when it comes to Sonny Angel figurines. Our app streamlines the quality inspection process, allowing you to keep meticulous records of each angel's condition. Note any imperfections, such as paint chips, scuffs, or defects, and maintain a comprehensive history of their condition over time. Stay confident in the authenticity and quality of your collection.</p>
<h6><strong>Experice The Joy of Sonny Angel Collecting</strong></h6>
<p>At Sonny Angel Collector App, we understand that collecting these delightful figurines is more than a hobby; it's a joyful and fulfilling experience. Whether you're adding to your collection, designing unique outfits, or meticulously inspecting your angels, our app is your trusted companion on this whimsical journey.

    Join us in celebrating the world of Sonny Angel collecting, where creativity, community, and quality converge. Start documenting your collection and designing incredible outfits. Let's make your Sonny Angel collecting experience even more enchanting and unforgettable.</p>
{% endblock %}
